[submodule "Modules/posh-josh"]
	path = Modules/posh-josh
	url = git@github.com:jbuedel/posh-josh.git
[submodule "Modules/project-commands"]
	path = Modules/project-commands
	url = git@github.com:jbuedel/project-commands
